xsds/auth.124.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Platform on 2026 Jun 15 16:08:10-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.124.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.124.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection61">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancelReport1">
        <xs:sequence>
            <xs:element name="RptId" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsolidatedTapeProviderData1">
        <xs:sequence>
            <xs:element name="RcptnDtTm" type="ISODateTime"/>
            <xs:element name="DssmntnDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContributorPublicationData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptnDtTm" type="ISODateTime"/>
            <xs:element name="PblctnDtTm" type="ISODateTime"/>
            <xs:element name="PblctnVnId" type="MICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PstTradMktDataRpt" type="PostTradeMarketDataReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalPostTradeBond1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPostTradeDerivative1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPostTradeEquity1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity25Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="NmnlVal" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="MntryVal" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period11Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="Period2"/>
            <xs:element name="FrToDtTm" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostTradeData1">
        <xs:sequence>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="TradgDtTm" type="ISODateTime"/>
            <xs:element name="TradgVn" type="TradingVenueIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ThrdCtryTradgVnId" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfTxs" type="DecimalNumber"/>
            <xs:element name="TradgSysTp" type="TradingSystemType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="SecuritiesTransactionPrice26Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="FinancialInstrumentQuantity25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="Cntrbtr" type="ContributorPublicationData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnsltdTapePrvdr" type="ConsolidatedTapeProviderData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PstTradData" type="PostTradeData1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SspcsData" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostTradeData1Choice">
        <xs:choice>
            <xs:element name="Bds" type="ExternalPostTradeBond1Code"/>
            <xs:element name="Derivs" type="ExternalPostTradeDerivative1Code"/>
            <xs:element name="Eqts" type="ExternalPostTradeEquity1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostTradeMarketDataReportV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptHdr" type="SecuritiesMarketReportHeader5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PstTradRpt" type="PostTradeReport1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostTradeReport1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptId" type="Max140Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PstTrad" type="PostTradeData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostTradeReport1Choice">
        <xs:choice>
            <xs:element name="New" type="PostTradeReport1"/>
            <xs:element name="Cxl" type="CancelReport1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNDG"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesMarketReportHeader5">
        <xs:sequence>
            <xs:element name="RptgNtty" type="TradingVenueIdentification1Choice"/>
            <xs:element name="RptgPrd" type="Period11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbRcrds" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice1">
        <xs:sequence>
            <xs:element name="Pdg" type="PriceStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice26Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection61"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="BsisPts" type="DecimalNumber"/>
            <xs:element name="NoPric" type="SecuritiesTransactionPrice1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingSystemType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLOB"/>
            <xs:enumeration value="HYBR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PATS"/>
            <xs:enumeration value="QDTS"/>
            <xs:enumeration value="RFQT"/>
            <xs:enumeration value="VOIC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingVenue2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPA"/>
            <xs:enumeration value="CTPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingVenue5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingVenueIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdCd" type="MICIdentifier"/>
            <xs:element name="NtlCmptntAuthrty" type="CountryCode"/>
            <xs:element name="Othr" type="TradingVenueIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max50Text"/>
            <xs:element name="Tp" type="TradingVenue2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification4Choice">
        <xs:choice>
            <xs:element name="MktIdCd" type="MICIdentifier"/>
            <xs:element name="SystmtcIntlr" type="TradingVenue5Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
