xsds/auth.120.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Platform on 2026 Jun 15 16:08:10-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.120.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.120.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancelReport1">
        <xs:sequence>
            <xs:element name="RptId" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmStsRpt" type="FinancialInstrumentStatusReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributes140">
        <xs:sequence>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentStatusReportV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptHdr" type="SecuritiesMarketReportHeader5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="InstrmRpt" type="InstrumentReport1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InstrumentData1">
        <xs:sequence>
            <xs:element name="Instrm" type="FinancialInstrumentAttributes140"/>
            <xs:element name="Sts" type="SecurityStatus3Code"/>
            <xs:element name="StsStartDtTm" type="ISODateTime"/>
            <xs:element name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSys" type="TradingSystemData3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MostRlvntMkt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DssmntnDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstrumentReport1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptId" type="Max140Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Instrm" type="InstrumentData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstrumentReport1Choice">
        <xs:choice>
            <xs:element name="New" type="InstrumentReport1"/>
            <xs:element name="Cxl" type="CancelReport1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period11Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="Period2"/>
            <xs:element name="FrToDtTm" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesMarketReportHeader5">
        <xs:sequence>
            <xs:element name="RptgNtty" type="TradingVenueIdentification1Choice"/>
            <xs:element name="RptgPrd" type="Period11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbRcrds" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecurityStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="HALT"/>
            <xs:enumeration value="RMOV"/>
            <xs:enumeration value="SUSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradingSystemData3">
        <xs:sequence>
            <xs:element name="Tp" type="TradingSystemType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phs" type="TradingSystemPhase1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingSystemPhase1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACT"/>
            <xs:enumeration value="COTR"/>
            <xs:enumeration value="ODAU"/>
            <xs:enumeration value="OTSP"/>
            <xs:enumeration value="OMST"/>
            <xs:enumeration value="SCAU"/>
            <xs:enumeration value="SIAU"/>
            <xs:enumeration value="SOAU"/>
            <xs:enumeration value="TROF"/>
            <xs:enumeration value="TRSI"/>
            <xs:enumeration value="TROE"/>
            <xs:enumeration value="UDUC"/>
            <xs:enumeration value="UAUC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingSystemType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLOB"/>
            <xs:enumeration value="HYBR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PATS"/>
            <xs:enumeration value="QDTS"/>
            <xs:enumeration value="RFQT"/>
            <xs:enumeration value="VOIC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingVenue2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPA"/>
            <xs:enumeration value="CTPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingVenueIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdCd" type="MICIdentifier"/>
            <xs:element name="NtlCmptntAuthrty" type="CountryCode"/>
            <xs:element name="Othr" type="TradingVenueIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max50Text"/>
            <xs:element name="Tp" type="TradingVenue2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
