xsds/seev.060.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R2.4.6.1) on 2026 Apr 01 11:53:28, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.060.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.060.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification7">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType42Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection110">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPrice3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerAmount2">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerFinancialInstrumentQuantity10">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="FinInstrmQty" type="FinancialInstrumentQuantity33Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BuyerProtectionInstructionV01">
        <xs:sequence>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation195"/>
            <xs:element name="RltdSttlmInstr" type="RelatedSettlementInstruction3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="SecuritiesAccountIdentification1Choice"/>
            <xs:element name="CorpActnElctn" type="CorporateActionElection4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionElection4">
        <xs:sequence>
            <xs:element name="OptnNb" type="Exact3NumericText"/>
            <xs:element name="OptnTp" type="CorporateActionOption47Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice99"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventType125Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType41Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType41Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionGeneralInformation195">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType125Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="ISINOct2015Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionOption47Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption18Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice99">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat66Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat50Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BuyrPrtcnInstr" type="BuyerProtectionInstructionV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity33Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="DgtlTknUnit" type="Max30DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="29"/>
            <xs:totalDigits value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification122Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification143">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification122Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PercentagePrice1">
        <xs:sequence>
            <xs:element name="PctgPricTp" type="PriceRateType3Code"/>
            <xs:element name="PricVal" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat50Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat66Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice3"/>
            <xs:element name="NotSpcfdPric" type="PriceValueType9Code"/>
            <xs:element name="AmtPricPerFinInstrmQty" type="AmountPricePerFinancialInstrumentQuantity10"/>
            <xs:element name="AmtPricPerAmt" type="AmountPricePerAmount2"/>
            <xs:element name="IndxPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriceValueType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TBSP"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity51Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity33Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RelatedSettlementInstruction3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTxIdr" type="UTIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdSttlmInstrId" type="Max35Text"/>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate8Choice"/>
            <xs:element name="SttlmDt" type="SettlementDate17Choice"/>
            <xs:element name="SttlmQty" type="Quantity51Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection110"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyDpstry" type="PartyIdentification143"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountIdentification1Choice">
        <xs:choice>
            <xs:element name="SfkpgAcct" type="Max35Text"/>
            <xs:element name="BlckChainAdrOrWllt" type="Max140Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate17Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="SettlementDateCode7Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementDate4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDateCode7Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementDate4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDate8Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="TradeDateCode3Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDateCode3Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UTIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18}[0-9]{2}[A-Z0-9]{0,32}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
